.img-text {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;

}

.text1 {
    position: absolute;
    bottom: 0%;
    left: 5%;
    text-decoration: none
}

.img-text img {
    width: 100%;
}

.card2 {
    position: relative;
    width: 100%;
    margin-top: 50px;
    left: -50px;
}

.card2 img {
    width: 860px;
    height: 480px;
}

.card1 {
    background-color: #613659;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin-top: 50px;
    left: 50px;
    z-index: 1;

}

.card1 h2 {
    padding-top: 25px;

}


.header-tag {
    margin-top: 60px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;


}

#all-place-holder::placeholder {
    color: white;
    padding: 10px;
}